<div class="container" style="text-align:center !important; width: 50% !important;
  margin: 0 auto !important; margin-top:50px !important;">
  <img src="assets/img/boneco.giflogomarca.gif" width="50%" height="50%" />

  <br/>
  <br/>
  <button (click)="irparaEscalacao()" class="btn btn-primary" *ngIf="usuarioLogado">Escalar meu TIme</button>



  <br/><br/>
  <a class="btn btn-block btn-social btn-google" (click)="loginGmail()" style="width:300px;text-align:center;margin: 0 auto;">
            <span class="fa fa-google"></span> Entre usando o login do Google
          </a>

  <br/>

    <a href="#" class="btn btn-block btn-social btn-facebook btn-flat" style="width:300px;text-align:center;margin: 0 auto;" (click)="loginFacebook()"><i class="fa fa-facebook" ></i> Entre usando o login do Facebook</a>








</div>
