@media (max-width: 767px) {    
  body,h1,span,button { 
    font-size: 12px; 
  }
} 
@media (max-width: 1200px) {    
  body,h1,span,button { 
    font-size: 16px; 
  }
} 
@media (min-width: 1200px) {    
  body,h1,span,button { 
    font-size: 20px; 
  }
}

  body { 
    font-size: 20px; 
    }
 
 h1 {
      color: #FFFFFF;
      background-color: #448AA5;
      padding: 15px;
      font-weight:bold;
    }

img{
  margin:0;
  padding:0;
}

.rankingFonte{
    font-size: 12px; 
}
    