<p>
  Escale seu time
</p>

<table>
  <tr>
    <td valign="top">
      <img src="{{imagemCampo}}" style="width:80%; height:75%" />
    </td>


    <td>

      <form>
        <p>Formação:
          <select [(ngModel)]="selectFormacao" name="selectFormacao" (ngModelChange)="onChangeFormacao($event)">
      <option *ngFor="let formacao of formacoes" [ngValue]="formacao">{{formacao}}</option>
    </select>
          <p>Tipo:
            <select [(ngModel)]="selectTipoParlamentar" name="selectTipoParlamentar" (ngModelChange)="onChangeTipo($event)">
      <option *ngFor="let tipo of tipos" [ngValue]="tipo">{{tipo}}</option>
    </select> Partido:
            <select [(ngModel)]="selectPartido" name="selectPartido" (ngModelChange)="onChangePartido($event)">
      <option *ngFor="let partido of partidos" [ngValue]="partido">{{partido}}</option>
    </select> UF:
            <select [(ngModel)]="selectUF" name="selectUF" (ngModelChange)="onChangeUF($event)">
      <option *ngFor="let uf of ufs" [ngValue]="uf">{{uf}}</option>
    </select>

            <button (click)="confirmarEscalacao()" class="btn btn-primary">Confirmar Time</button>
          </p>

      </form>

      <!-- Time: {{time | json }} -->
      <br/>

      <table cellpadding="10" style="padding-left:10px;">
        <tr>
          <th style="padding-left:10px;">Foto</th>
          <th style="padding-left:10px;">Nome</th>
          <th style="padding-left:10px;">Partido</th>
          <th style="padding-left:10px;">UF</th>
          <th style="padding-left:10px;">Escalar</th>
        </tr>
        <tr *ngFor="let parlamentar of parlamentaresFiltro">
          <td style="padding-left:10px;"><img src='{{parlamentar.foto}}' class="redondoNaoTanto" /> </td>
          <td style="padding-left:10px;">{{parlamentar.nomeParlamentar}} </td>
          <td style="padding-left:10px;">{{parlamentar.partido}} </td>
          <td style="padding-left:10px;">{{parlamentar.uf}} </td>
          <td style="padding-left:10px;"><button (click)="selecionarParlamentar(parlamentar)" class="btn btn-primary" [disabled]="time.length >= 5 || parlamentar.escalado ">Escalar</button></td>
        </tr>
      </table>

      <div *ngIf="selectFormacao == '3-2'">
        <div style="position:absolute; top: 368px; left: 130px;" *ngIf="time[0]" class="imgParlamentarEscalado">
          <img src="{{time[0].foto}}" width="50px;" height="50px;" class="redondo" alt="alternative text" (click)="removerParlamentar(time[0])"/>
        </div>

        <div style="position:absolute; top: 412px; left: 275px;" *ngIf="time[1]" class="imgParlamentarEscalado" (click)="removerParlamentar(time[1])">
          <img src="{{time[1].foto}}" width="50px;" height="50px;" class="redondo" />
        </div>

        <div style="position:absolute; top: 365px; left: 415px;" *ngIf="time[2]" class="imgParlamentarEscalado" (click)="removerParlamentar(time[2])">
          <img src="{{time[2].foto}}" width="50px;" height="50px;" class="redondo" />
        </div>

        <div style="position:absolute; top: 162px; left: 184px;" *ngIf="time[3]" class="imgParlamentarEscalado" (click)="removerParlamentar(time[3])">
          <img src="{{time[3].foto}}" width="50px;" height="50px;" class="redondo" />
        </div>

        <div style="position:absolute; top: 162px; left: 350px;" *ngIf="time[4]" class="imgParlamentarEscalado" (click)="removerParlamentar(time[4])">
          <img src="{{time[4].foto}}" width="50px;" height="50px;" class="redondo" />
        </div>

      </div>

      <div *ngIf="selectFormacao == '2-3'">
        <div style="position:absolute; top: 405px; left: 200px;" *ngIf="time[0]" class="imgParlamentarEscalado">
          <img src="{{time[0].foto}}" width="50px;" height="50px;" class="redondo" />
        </div>

        <div style="position:absolute; top: 405px; left: 350px;" *ngIf="time[1]" class="imgParlamentarEscalado">
          <img src="{{time[1].foto}}" width="50px;" height="50px;" class="redondo" />
        </div>

        <div style="position:absolute; top: 215px; left: 153px;" *ngIf="time[2]" class="imgParlamentarEscalado">
          <img src="{{time[2].foto}}" width="50px;" height="50px;" class="redondo" />
        </div>

        <div style="position:absolute; top: 150px; left: 277px;" *ngIf="time[3]" class="imgParlamentarEscalado">
          <img src="{{time[3].foto}}" width="50px;" height="50px;" class="redondo" />
        </div>

        <div style="position:absolute; top: 215px; left: 408px;" *ngIf="time[4]" class="imgParlamentarEscalado">
          <img src="{{time[4].foto}}" width="50px;" height="50px;" class="redondo" />
        </div>

      </div>

      <div *ngIf="selectFormacao == '1-4'">
        <div style="position:absolute; top: 392px; left: 279px;" *ngIf="time[0]" class="imgParlamentarEscalado">
          <img src="{{time[0].foto}}" width="50px;" height="50px;" class="redondo" />
        </div>

        <div style="position:absolute; top: 218px; left: 148px;" *ngIf="time[1]" class="imgParlamentarEscalado">
          <img src="{{time[1].foto}}" width="50px;" height="50px;" class="redondo" />
        </div>

        <div style="position:absolute; top: 145px; left: 203px;" *ngIf="time[2]" class="imgParlamentarEscalado">
          <img src="{{time[2].foto}}" width="50px;" height="50px;" class="redondo" />
        </div>

        <div style="position:absolute; top: 145px; left: 350px;" *ngIf="time[3]" class="imgParlamentarEscalado">
          <img src="{{time[3].foto}}" width="50px;" height="50px;" class="redondo" />
        </div>

        <div style="position:absolute; top: 218px; left: 400px;" *ngIf="time[4]" class="imgParlamentarEscalado">
          <img src="{{time[4].foto}}" width="50px;" height="50px;" class="redondo" />
        </div>

      </div>


      <div *ngIf="selectFormacao == '4-1'">
        <div style="position:absolute; top: 332px; left: 130px;" *ngIf="time[0]" class="imgParlamentarEscalado" title="Remover">
          <img src="{{time[0].foto}}" width="50px;" height="50px;" class="redondo" />
        </div>

        <div style="position:absolute; top: 415px; left: 220px;" *ngIf="time[1]" class="imgParlamentarEscalado" title="Remover">
          <img src="{{time[1].foto}}" width="50px;" height="50px;" class="redondo" />
        </div>

        <div style="position:absolute; top: 415px; left: 325px;" *ngIf="time[2]" class="imgParlamentarEscalado" title="Remover">
          <img src="{{time[2].foto}}" width="50px;" height="50px;" class="redondo" />
        </div>

        <div style="position:absolute; top: 332px; left: 405px;" *ngIf="time[3]" class="imgParlamentarEscalado" title="Remover">
          <img src="{{time[3].foto}}" width="50px;" height="50px;" class="redondo" />
        </div>

        <div style="position:absolute; top: 178px; left: 275px;" *ngIf="time[4]" class="imgParlamentarEscalado" title="Remover">
          <img src="{{time[4].foto}}" width="50px;" height="50px;" class="redondo" />
        </div>

      </div>

    </td>
  </tr>
</table>
